####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
Electrum_BTR.egg-info/
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea

# icons
electrum/gui/qt/icons_rc.py
electrum/gui/kivy/theming/light-0.png
electrum/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build files
contrib/build-wine/docker/Release.key
contrib/build-wine/electrum_data
contrib/build-wine/tmp
*.dylib
contrib/downloads

# OS X
.DS_Store
._.DS_Store

# wallet data
electrum_data
