# If you want Electrum-BTR to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-btr.desktop

[Desktop Entry]
Comment=Lightweight BitCoin Rhodium Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum %u"
GenericName[en_US]=BitCoin Rhodium Wallet
GenericName=BitCoin Rhodium Wallet
Icon=electrum
Name[en_US]=Electrum BitCoin Rhodium Wallet
Name=Electrum BitCoin Rhodium Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin-rhodium;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum --testnet %u"
Name=Testnet mode
